@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@using Disc_Control
@{
    var ks = 789; 
}
<meta http-equiv="refresh" content="1">
<div class="text-center">  
    <h1 class="display-4">Disc Control</h1>
    
</div>

<table>
    <tr>
        <th>Drive</th>
        <th>Freespace [GB]</th>
        <th>%Freespace</th>
        <th>UsedSpace [GB]</th>
        <th>TotalSpace[GB]</th>
        <th>SerialNumber[GB]</th>
    </tr>
</table>
<div>@ks</div>